version: '2'
services:
  basededatos:
    build:
      context: ./
      dockerfile: Dockerfile_MariaDB
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: chat
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
    container_name: SQLInjection_DB
    ports:
      - "5001:3306"
    tty: true


  aplicacion:
    build:
      context: ./
      dockerfile: Dockerfile_PHP+Apache
    container_name: SQLInjection
    ports:
      - "5002:80"
    tty: true
    depends_on:
      - basededatos